html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.gif-container {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  .searched-img {
    height: 400px;
    width: 100%;
    object-fit: cover;
  }
  max-width: 1280px;
  margin: 0 auto;
}

.random-img {
  margin: 0 auto;
  // height: 300px;
  // width: 50%;
  // object-fit: cover;
}

h1,
h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}

.search {
  padding-left: 1rem;
  font-size: 2rem;
  height: 3rem;
  width: 25rem;
}

.search-btn {
  width: 200px;
  height: 50px;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.singlegif-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: table;
  transition: opacity 0.3s ease;
}

.singlegif-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.singlegif-image {
  min-width: 800px;
}
